@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
   
}
h1{
   font-size:1.5em;
   padding-top: 15px;
  
}
 h2{
    font-size: 1.2em;
   
    text-align: center;
   
   

}
p{
    font-size:0.8em;
    padding-right: 10px;
    width: 300px;
    text-align: justify;
}

article{
    display: flex;
    flex-flow: column-reverse nowrap;
    
    position: relative;
    right:60%;
    left: 1%;
    margin-top: 20px;
   
 
   
    

}
thead ,tr , th{
   max-width: 300px;
}


    



